<h1>Add Advert</h1>

<form action="/board" method="POST">
  <div>
    <label for="title">Number</label>
    <br>
    <input type="text" id="title" name="number"></input>
  </div>
  
  <div>
    <label for="description">Description</label>
    <br>
    <input type="text" id="description" name="description"></input>
  </div>

  <input type="submit" value="Post">
</form>

